header{
    background-color: #DDC2A9;
    padding: 5px;
    text-align: center;
}
footer{
    background-color: #DDC2A9;
    padding: 4px;
    text-align: center;
}

.intro{
    margin: 20px;
}

.sumir{
    display: none;
}

@media screen and (min-width: 1024px) {
    .intro{
    display: flex;
}
.textos{
    padding-left: 20px;
}

.sumir{
    display: block;
}

}

