header{
    background-color: #DDC2A9;
    padding: 5px;
    text-align: center;
}
footer{
    background-color: #DDC2A9;
    padding: 4px;
    text-align: center;
}


@media screen and (min-width: 1024px) {
    .intro{
    display: flex;
}
}

